@model Parcial2.Models.Cliente
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Lista Clientes</h3>

<h2>
    <h5>@Model.Nombre</h5>
    <h5>@Model.Apellido</h5>
    <h5>@Model.Sueldo</h5>
    
</h2>

